.TitleText {
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  color: #414046;
}

.Subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #414046;
}

.Danger {
  text-decoration-line: underline;
  color: #F44336;
}

.Normal {
  text-decoration-line: underline;
  color: #0277BD;
}